.sidebar .label {
  background-color: #FFFFFF; /*rgba(255,255,255,.5);*/
  color: #6a9fb5;
}

.sidebar .label:hover {
  background-color: #FFFFFF; /*rgba(255,255,255,.5);*/
  color: #6a9fb5;
}

.emoji {
  width: 24px;
  height: 24px;
  display: inline;
  margin: 0;
}

.language-plain {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #000 none repeat scroll 0% 0%;
  color: #F8F8F8;
}
