.sidebar-sticky {
  top: 1em;
  bottom: auto;
}

.sidebar-about a {
  text-decoration: none;
}

.sidebar .label {
  background-color: #FFFFFF; /*rgba(255,255,255,.5);*/
  color: #6a9fb5;
}

.sidebar .label:hover {
  background-color: #FFFFFF; /*rgba(255,255,255,.5);*/
  color: #6a9fb5;
}

.emoji {
  width: 24px;
  height: 24px;
  display: inline;
  margin: 0;
}

.language-plain {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #000 none repeat scroll 0% 0%;
  color: #F8F8F8;
  white-space: pre;
}

.hljs {
  white-space: pre;
}

#bluesky svg {
  width: 51px;
  height: 60px;
  vertical-align: bottom;
  margin-bottom: 2px;
  filter: invert(1);
}
